image: node:14.18.0-buster

# This folder is cached between builds
# https://docs.gitlab.com/ce/ci/yaml/README.html#cache
cache:
  paths:
    - node_modules/
    # Enables git-lab CI caching. Both .cache and public must be cached, otherwise builds will fail.
    - .cache/
    - public/

pages:
  stage: build
  script:
  - apt-get install -y git
  - "git config --global url.\"https://github.com/\".insteadOf git@github.com:"
  - npm ci
  - ./node_modules/.bin/gatsby build --prefix-paths
  artifacts:
    paths:
    - public
  only:
  - main