// https://coolors.co/457b9d-ee4b6a-fbfaf8-0c1821-0f7173
$celadon-blue: #457b9dff;
$paradise-pink: #ee4b6aff;
$gray: rgb(211, 211, 211);
$white: #fbfaf8ff;
$rich-black-fogra-29: #0c1821ff;
$skobeloff: #0f7173ff;
$prussian-blue: #102E4A;

// header colors
$headerText: $white;
$headerBackground: $celadon-blue;
$headerBackgroundHighlight: $prussian-blue;

// dropdown colors
$dropdownText: $rich-black-fogra-29;
$dropdownBackground: $white;
$dropdownBackgroundHighlight: $gray;

// footer colors
$footerBackground: $celadon-blue;